.balloon-content {
  font-size: 70%;
  white-space: nowrap;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.9);
  color: #fff;
  padding: 2px 8px;
  position: absolute;
  transform: translateX(-30%);
}

.balloon-content:before {
  content: "";
  position: absolute;
  top: 34px;
  left: calc(24% - 9px);
  border: 9px solid transparent;
  border-top: 9px solid rgba(85, 85, 85, 0.9);
}

.balloon-content .title {
  color: #fff;
  font-weight: bolder;
}

.balloon-content .range {
  color: #dcdcdc;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
}
