.balloon {
  font-size: 80%;
  white-space: nowrap;
  border-radius: 4px;
  background-color: rgba(85, 85, 85, 0.9);
  color: #fff;
  padding: 2px 10px;
  position: absolute;
  transform: translateX(-30%);
  z-index: 1080;
}

.balloon.top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 24%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.9) transparent transparent transparent;
}

.balloon.bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(85, 85, 85, 0.9) transparent;
}

.balloon.right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(85, 85, 85, 0.9) transparent transparent;
}

.balloon.left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(85, 85, 85, 0.9);
}

.balloon .title {
  color: #fff;
  font-weight: bolder;
  display: inline-block;
}

.balloon .token-kind {
  color: #fff;
  font-weight: normal;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  max-width: 200px;
  display: inline-block;
  vertical-align: bottom;
}

.balloon .range {
  color: #dcdcdc;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
}
