.svg-inline--fa.fa-fw {
  width: 1em;
}

.nav-tabs {
  border-bottom: none;
}

.dropdown-menu {
  min-width: 280px;
  line-height: 1.2;
}

.active-tick a::after {
  display: block;
  width: 14px;
  height: 10px;
  margin-top: 4px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2210%22%3E%3Cpath%20fill%3D%22%230D6EFD%22%20fill-rule%3D%22nonzero%22%20d%3D%22M13.707.293c.39.39.39%201.025%200%201.415l-7.999%208c-.39.39-1.025.39-1.416%200l-4-4a1.001%201.001%200%200%201%201.416-1.416l3.294%203.29%207.293-7.29c.39-.39%201.025-.39%201.415%200h-.003Z%22%2F%3E%3C%2Fsvg%3E");
  background-size: cover;
  content: "";
  float: right;
}

.tab-pane {
  overflow: auto;
}

#lookup-container {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  font-size: 11pt;
  line-height: 1.4;
}

.alert {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  font-size: 11pt;
}
