.svg-inline--fa.fa-fw {
  width: 1em;
}

.nav-tabs {
  border-bottom: none;
}

.dropdown-menu {
  min-width: 280px;
  line-height: 1.2;
}

.active-tick a::after {
  display: block;
  width: 14px;
  height: 10px;
  margin-top: 4px;
  background-image: url("../images/check-solid.svg");
  background-size: cover;
  content: "";
  float: right;
}

.tab-pane {
  overflow: auto;
}

#lookup-container {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  font-size: 11pt;
  line-height: 1.4;
}

.alert {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  font-size: 11pt;
}
