.cm-editor {
  height: 100%;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  font-size: 11pt;
  line-height: 1.4;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-scroller {
  font-family: inherit;
  line-height: inherit;
}

.editor-marker {
  border-top: 1px solid rgb(81, 101, 255);
  border-bottom: 1px solid rgb(81, 101, 255);
  background-color: rgba(81, 101, 255, 0.25);
}
