.popover {
  position: absolute;
  z-index: 1070;
  font-size: 10pt;
}

.popover-content {
  margin: 0 0 0 0;
  min-width: 400px;
  max-width: 50vw;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.popover-content .title {
  margin: 0 14px 0 14px;
  padding-top: 8px;
  font-weight: bolder;
  font-size: larger;
}

.popover .arrow {
  position: absolute;
  top: 50%;
  left: calc(100% + -6px);
  transform: translateY(-50%) rotate(-135deg);
  width: 10px;
  height: 10px;
  content: "";
  background-color: #fff;
  border: 1px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  z-index: 1070;
  pointer-events: none;
}

.popover-content dl {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 14px;
  max-height: 100vh;
}

.popover-content dt {
  padding: 0;
}

.popover-content dd {
  margin-bottom: 2px;
  margin-left: 0;
  padding: 0 0 0 10px;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  word-break: break-all;
}

.popover-content .font-monospace {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace !important;
}

.popover-content .badge {
  margin: 0 8px 0 8px;
  color: #696969;
  background-color: #f2f2f2;
}

.popover-content .badge.ref {
  margin: 0 0 0 -0.65em;
  color: #696969;
  background-color: #f2f2f2;
  font-size: 100%;
  font-weight: normal;
}

.popover-content .badge.annotation {
  width: 48px;
  text-align: end;
  font-size: 0.8rem;
  margin: 0 8px 0 0;
  padding: 0;
  color: #696969;
  background-color: transparent;
}
