.keyword,
.atSign {
  color: #aa0d91;
}

.importKeyword {
  color: #1c00cf;
}

.stringLiteral {
  color: #c41a16;
}

.lineComment,
.blockComment,
.docLineComment,
.docBlockComment {
  color: #006a00;
}

.gj-button-md,
ul.gj-list-md li {
  font-family: "Menlo", sans-serif, monospace;
  font-size: 10pt;
}

.tooltip-text {
  color: gray;
}