.tree-view {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  font-size: 11pt;
}

.tree-view ul {
  margin: 0;
  padding-left: 0;
}

.tree-view li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 5px 5px 0 25px;
  cursor: pointer;
}

.tree-view li .collapsible {
  position: relative;
}

.tree-view li div {
  display: inline-block;
}

.tree-view li.hover {
  background-color: rgb(100, 149, 237, 0.25);
}

.tree-view li.hover > div > div {
  text-decoration: underline;
}

.tree-view li.opened .collapsible::before {
  position: absolute;
  width: 7px;
  height: 4px;
  margin-left: -16px;
  margin-top: 8px;
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%226.88%22%20height%3D%224.128%22%3E%3Cpath%20fill%3D%22%23A9A9A9%22%20fill-rule%3D%22nonzero%22%20d%3D%22M2.954%203.926a.689.689%200%200%200%20.974%200l2.75-2.75A.688.688%200%200%200%206.19%200L.69.002A.69.69%200%200%200%20.2%201.178l2.75%202.75.003-.002Z%22%2F%3E%3C%2Fsvg%3E");
  background-size: cover;
  content: "";
}

.tree-view li.collapsed .collapsible::before {
  position: absolute;
  width: 4px;
  height: 7px;
  margin-left: -14.5px;
  margin-top: 6px;
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224.128%22%20height%3D%226.88%22%3E%3Cpath%20fill%3D%22%23A9A9A9%22%20fill-rule%3D%22nonzero%22%20d%3D%22M3.926%203.926a.689.689%200%200%200%200-.974L1.176.202A.688.688%200%200%200%200%20.69V6.19a.69.69%200%200%200%201.176.488l2.75-2.75v-.003Z%22%2F%3E%3C%2Fsvg%3E");
  background-size: cover;
  content: "";
}

.tree-view .decl-syntax {
  color: #007aff;
}

.tree-view .expr-syntax {
  color: #ff8c00;
}

.tree-view .pattern-syntax {
  color: #008b8b;
}

.tree-view .type-syntax {
  color: #8b0000;
}

.tree-view .token {
  font-weight: bold;
  cursor: auto;
}

.tree-view .token .badge {
  color: #696969;
  background-color: #dcdcdc;
}
