.tree-view {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  font-size: 11pt;
}

.tree-view ul {
  margin: 0;
  padding-left: 0;
}

.tree-view li.entry {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 5px 5px 0 25px;
  cursor: pointer;
}

.tree-view li.entry div {
  display: inline-block;
}

.tree-view li.entry.hover {
  background-color: rgb(100, 149, 237, 0.25);
}

.tree-view li .marker {
  position: relative;
}

.tree-view li.opened .marker::before {
  position: absolute;
  margin-left: -20px;
  padding: 0.25rem;
  color: #a9a9a9;
  font-size: 0.75em;
  font-family: "FontAwesome 6 Solid";
  content: "\f0d7";
  display: none;
}

.tree-view li.collapsed .marker::before {
  position: absolute;
  margin-left: -20px;
  padding: 0.25rem;
  color: #a9a9a9;
  font-size: 0.75em;
  font-family: "FontAwesome 6 Solid";
  content: "\f0da";
  display: none;
}

.tree-view li svg {
  position: absolute;
  margin-left: -20px;
  padding: 0.25rem;
  color: #a9a9a9;
  font-size: 0.75em;
}

.tree-view .decl-syntax {
  color: #007aff;
}

.tree-view .expr-syntax {
  color: #ff8c00;
}

.tree-view .pattern-syntax {
  color: #008b8b;
}

.tree-view .type-syntax {
  color: #8b0000;
}

.tree-view .token {
  font-weight: bold;
  cursor: auto;
}

.tree-view .token .badge {
  color: #696969;
  background-color: #dcdcdc;
}
