/* Sticky footer styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #F7F7F7;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
  color: #878e95;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
  color: #4a5056;
}

.lined .nav-link.active {
  background: none;
  color: #4a5056;
  border-color: #4a5056;
}