/* Sticky footer styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #F5F5F5;
  color: #333333;
}

/* Swift Logo */
.fa-swift {
  color: #F05138;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #F5F5F5;
}

/* GitHub Icon */
.fa-github {
  color: #999999;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
  color: #878e95;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
  color: #4a5056;
}

.lined .nav-link.active {
  background: none;
  color: #4a5056;
  border-color: #4a5056;
}