name: Test
on:
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
  FONTAWESOME_TOKEN: ${{ secrets.FONTAWESOME_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - name: Test
        run: |
          set -ex

          swift test

          (cd Resources/parsers/50800 && swift test)
          (cd Resources/parsers/50900 && swift test)
          (cd Resources/parsers/51000 && swift test)
          (cd Resources/parsers/60000 && swift test)
          (cd Resources/parsers/60100 && swift test)
          (cd Resources/parsers/60200 && swift test)
          (cd Resources/parsers/trunk && swift test)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        run: |
          set -ex

          IMAGE_TAG=swiftfiddle/swift-ast-explorer.com:latest

          docker build --rm --no-cache --build-arg FONTAWESOME_TOKEN=${{ env.FONTAWESOME_TOKEN }} --tag ${IMAGE_TAG} .
          docker push ${IMAGE_TAG}
